@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f8f8ff;

  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.p-p-header.is-open .p-p-header-background {
  left: 0;
}
.p-p-header-button-wrapper {
  margin-left: auto;
}
.p-p-header-icon {
  display: none;
}

.p-p-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.p-p-navigation-list.is-open {
  right: 0;
}
.p-p-header-icon-menu {
  display: block;
}

.p-p-header-icon-button.is-open .p-p-header-icon-menu {
  display: none;
}

.p-p-header-icon-button.is-open .p-p-header-icon-close {
  display: block;
}

.p-p-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 96px;
  background: #00000080;
}

.p-p-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #00000080;
}
.p-p-header.is-open .p-p-header-background {
  left: 0;
}
.p-p-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ffffff3d;
  padding: 12px;
  margin: 12px;
  border-radius: 100px;
  border-width: 1px;
}
.p-p-header-icon-menu {
  display: block;
}

.p-p-header-icon-button.is-open .p-p-header-icon-menu {
  display: none;
}

.p-p-header-icon-button.is-open .p-p-header-icon-close {
  display: block;
}

.p-p-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;

  position: relative;
}

.p-p-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 48px 0px;

  gap: 24px;
  background: #00000080;
}

.p-p-navigation-list.is-open {
  right: 0;
}

.p-p-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;
}

.p-p-navigation-link:hover,
.p-p-navigatioт-link:focus {
  color: #ffdb58;
}
.p-p-header.is-open {
  background-color: transparent;
}

.p-p-navigation-img {
  display: none;
}

@media screen and (min-width: 1195px) {
  .p-p-navigation-img {
    display: block;
    margin-right: 344px;
  }
  .p-p-policy-terms-header-icon-menu {
    display: none;
  }
  .p-p-header-button-wrapper {
    display: none;
  }
  .p-p-header {
    width: 100%;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border: 1px solid #ffffff3d;
    width: 1296px;
    height: 64px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 100px;
    border-width: 1px;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
  }
  .p-p-header-two {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border: 1px solid transparent;

    height: 128px;
    padding: 32px 72px;
    border-radius: 0px;
    border-width: 1px;
    top: 0px;
    left: 50%;

    transform: translateX(-50%);
    background-color: transparent;
  }

  .p-p-header-icon-button {
    display: none;
  }
  .p-p-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1296px;
    padding: 0 0px;
    margin: auto;
  }
  .p-p-navigation-two {
    position: fixed;
    border: 1px solid #ffffff3d;
    width: 1296px;
    height: 64px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 100px;
    border-width: 1px;
    top: 32 px;
    left: 50%;

    transform: translateX(-50%);
  }
  .p-p-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .p-p-navigation-link {
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .p-p-navigation-item-desk {
    display: none;
  }
}

.p-p-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero\ section.png");
  margin: auto;
}
.p-p-home-container {
  width: 375px;
  padding: 419px 16px 0px;
  margin: auto;
}

.p-p-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.p-p-home-title {
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 48px;
  letter-spacing: 0%;
  color: #ffdb58;
}

.p-p-home-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
}
.p-p-home-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  border: 1px solid #ffffff3d;
  border-radius: 4px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
}

@media screen and (min-width: 1195px) {
  .p-p-home {
    width: auto;
    height: 954px;
    background-image: url("/img/Hero\ section\ \(1\).png");
  }
  .p-p-home-container {
    width: 1440px;
    padding: 304px 100px 0px 743px;
  }

  .p-p-home-title {
    font-family: Merriweather;
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
  }
  .p-p-home-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0px;
    width: 537px;
  }
  .p-p-home-text-two {
    border-radius: 4px;
    border-width: 1px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
  }
}
.p-p-about {
  background: #331807;
}
.p-p-about-container {
  width: 375px;
  height: 1371px;
  padding: 48px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Description.png");
  margin: auto;
}
.p-p-about-title {
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffdb58;
}
.p-p-about-text {
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 991px;
}

@media screen and (min-width: 1195px) {
  .p-p-about-container {
    width: 1440px;
    height: 998px;
    padding: 100px 380px 0px 366px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Description\ \(1\).png");
    margin: auto;
  }
  .p-p-about-title {
    font-family: Merriweather;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;

    color: #ffdb58;
  }
  .p-p-about-text {
    font-family: Merriweather;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    width: 694px;
    padding-top: 536px;
  }
}
.p-p-why {
  background: #331807;
}

.p-p-why-container {
  padding: 431px 16px 0;
  margin: auto;
  width: 375px;
  height: 903px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Main\ Container.png");
}
.p-p-about-title-why {
  text-align: left;
  border-bottom: 2px solid #5b2f14;
  width: fit-content;
}
.p-p-why-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.p-p-why-item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.p-p-why-img {
  width: 24px;
}

.p-p-why-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
}

@media screen and (min-width: 1195px) {
  .p-p-why-container {
    padding: 216px 811px 0 72px;
    margin: auto;
    width: 1440px;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Main\ Container\ \(1\).png");
  }
  .p-p-about-title-why {
    text-align: left;
    border-bottom: 2px solid #5b2f14;
    width: fit-content;
  }

  .p-p-why-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0px;
  }
}

.p-p-uniqueness {
  background: #331807;
}
.p-p-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 48px 16px;
}
.p-p-about-title-two {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  padding-top: 8px;
}
.p-p-uniqueness-list {
  padding-top: 32px;
}
.p-p-uniqueness-item {
  border: 1px solid #ffffff3d;
  background: #572200;
  width: 322px;
  height: 274px;
  border-radius: 2px;
  padding: 8px 16px;
  margin: 0 4px;
}
.p-p-uniqueness-img {
  width: 110px;
  margin: auto;
}
.p-p-uniqueness-text-bold {
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 12px;
  color: #ffffff;
  text-align: center;
}
.p-p-uniqueness-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 1195px) {
  .p-p-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 72px;
  }

  .p-p-uniqueness-list {
    padding-top: 32px;
  }
  .p-p-uniqueness-item {
    width: 306px;
    height: 274px;
    border-radius: 2px;
    border-width: 1px;
    padding: 8px;

    margin: 0 12px;
  }
}
.p-p-how {
  background: #0f1b2d;
}
.p-p-how-container {
  margin: auto;
  width: 375px;
  height: 1289px;
  padding: 48px 16px;
  background-image: url("/img/how/Page.png");
}
.p-p-how-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.p-p-how-list-two {
  padding-top: 377px;
}
.p-p-how-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p-p-how-img {
  width: 62px;
}

.p-p-how-text-bold {
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.p-p-how-text {
  font-family: Merriweather;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0.12%;
  vertical-align: middle;
}

@media screen and (min-width: 1195px) {
  .p-p-how-container {
    margin: auto;
    width: 1440px;
    height: 822px;
    background-image: url("/img/how/Page\ \(1\).png");
    padding: 100px 133px;
  }
  .p-p-how-list-three {
    display: flex;
    padding-top: 72px;
    gap: 665px;
  }
  .p-p-how-list {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .p-p-how-list-two {
    padding-top: 0px;
  }
  .p-p-how-item {
    width: 254px;
    height: 218px;
  }

  .p-p-how-text-bold {
    padding-right: 80px;
  }
  .p-p-how-text {
    font-family: Merriweather;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0.12%;
    vertical-align: middle;
  }
}

.p-p-reviews {
  background: #0f1b2d;
}
.p-p-reviews-container {
  margin: auto;
  padding: 48px 16px;
  width: 375px;
}
.p-p-reviews-list {
  padding-top: 32px;
}

.p-p-reviews-item {
  margin: 0 5px;
  background: #1f3962;
  width: 343px;
  height: 288px;
  border-radius: 8px;
  padding: 8px;
}
.p-p-reviews-img-one {
  width: 48px;
}
.p-p-reviews-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 12px 0;
}

.p-p-reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
}
.p-p-reviews-img {
  width: 56px;
}
.p-p-reviews-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0.12%;
}

@media screen and (min-width: 1195px) {
  .p-p-reviews-container {
    margin: auto;
    padding: 100px 72px;
    width: 1440px;
  }
  .p-p-reviews-list {
    padding-top: 54px;
  }

  .p-p-reviews-item {
    margin: 0 10px;
    width: 416px;
    height: 280px;
    border-radius: 8px;
    padding: 16px;
  }
}

.p-p-faq {
  background: #1f3962;
}
.p-p-faq-container {
  padding: 48px 16px;
  width: 375px;
  margin: auto;
}
.p-p-faq-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.p-p-faq-item {
  padding: 12px 12px 0;
}

.p-p-faq-question {
  display: flex;
  padding-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  border-bottom: 1px solid #ffffff3d;
}

.p-p-faq-answer {
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}
.p-p-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.p-p-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.p-p-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.p-p-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.p-p-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1195px) {
  .p-p-faq-container {
    padding: 100px 371px;
    width: 1440px;
    margin: auto;
  }
  .p-p-faq-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .p-p-faq-item {
    padding: 12px 12px 0;
  }

  .p-p-faq-question {
    display: flex;
    font-family: Merriweather;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .p-p-faq-answer {
    font-family: Merriweather;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0.12px;
  }
}
.p-p-gallery-button-container {
  display: flex;
  padding-top: 32px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.p-p-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.p-p-gallery-button-icon {
  width: 40px;
}
.p-p-gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1195px) {
  .p-p-gallery-button-container {
    display: none;
  }
}

.p-p-policy-terms-container {
  padding: 140px 16px 32px;
  width: 375px;
  margin: auto;
  color: #6b7280;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.12px;
}

.p-p-policy-terms-container h1 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 48px;
  letter-spacing: 0.12px;
  color: #374151;
}
.p-p-policy-terms-container h3 {
  color: #374151;
  margin-top: 12px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.12px;
}
.p-p-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}
.p-p-policy-terms-container p {
  margin-top: 12px;
}
.p-p-policy-terms-container a {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1195px) {
  .p-p-policy-terms-container {
    padding: 160px 100px 32px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0.12px;
  }
  .p-p-policy-terms-container h1 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 48px;
    letter-spacing: 0.12px;
  }
  .p-p-policy-terms-container h3 {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0.12px;
  }
}

.p-p-footer-container {
  width: 375px;
  padding: 48px 16px 24px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.p-p-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.p-p-footer-wrapper-one {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0.12px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.p-p-footer-img {
  width: 94px;
  height: 94px;

  border-radius: 8px;
}
.p-p-footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.p-p-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0.12px;
}

.p-p-footer-copyright {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0.12px;
  text-align: center;
}

@media screen and (min-width: 1195px) {
  .p-p-footer-container {
    width: 1440px;
    padding: 48px 85px 24px;

    gap: 74px;
  }

  .p-p-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
  }

  .p-p-footer-wrap {
    gap: 16px;
  }
}
